<div class="inner-expand">

<div class="container sidebar-container" id="i18_about_me">
    <div class="row m-b-lg hide-if-big">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>Illuminating the Dark Universe</span></h1>
        </div>
    </div>
    <div class="row">
<!--        <div class="col-nxl-3 col-xl-4 col-lg-6 col-md-12"></div>-->
        <div class="text-center desc col-nxl-8 col-xl-8 col-xl-offset-2 col-nxl-offset-2 margin-when-wide">
            <p class="wider-when-small " style="font-size: 1.3em; line-height: 1.5em;">
                Just over a decade ago cosmology was revolutionised by the discovery that the expansion of the universe is
                accelerating (Riess et al., 1998; Perlmutter et al., 1999). The cause of the acceleration remains unknown, but
                is given the generic name dark energy. Its discovery won the 2011 Nobel Prize in Physics. Meanwhile 80
                years of investigation have yet to uncover the nature of dark matter, which we believe to be responsible for
                the majority of gravitational clumping in the universe.</p>
            <p><i>Together the joint mysteries of dark energy and dark matter represent a profound challenge to modern physics.</i></p>
        </div>
<!--        <div class="col-nxl-3 col-xl-4 col-lg-6 col-md-12"></div>-->
    </div>
</div>
</div>