<div class="front-container" style="margin-top: 0; padding-bottom: 50px;">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12 text-center wow fadeIn">
                <div class="navy-line"></div>
                <h1><span>Some fun title here if you want</span></h1>
            </div>
        </div> -->
        <div class="row academia-links blog frontpage">
            <div class="col-sm-6 col-lg-3 m-b-md padding-bottom">
                <a href="people">
                    <div class="card">
                        <img src="static/img/landing/people.jpg" class="img-card img" width="225" height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>People</h2>
                            </div>
                            <div class="card-desc">
                                <p>The staff and students at UQ.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 m-b-md padding-bottom">
                <a href="projects">
                    <div class="card">
                        <img src="static/img/projects/barry/thumb_card.jpg" class="img-card img" width="225" height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Projects</h2>
                            </div>
                            <div class="card-desc">
                                <p>An overview of staff and student projects.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 m-b-md padding-bottom">
                <a href="papers">
                    <div class="card">
                        <img src="static/img/landing/papers.jpg" class="img-card img" width="225" height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Papers</h2>
                            </div>
                            <div class="card-desc">
                                <p>Publications and data releases.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 m-b-md padding-bottom">
                <a href="news">
                    <div class="card">
                        <img src="static/img/news/order_of_australia/thumb_card.jpg" class="img-card img" width="225" height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>News</h2>
                            </div>
                            <div class="card-desc">
                                <p>Media releases and milestones.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
